
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Upload Image</title>
</head>
<body>
  <nav>
    <a href="{% url 'upload' %}">Upload</a>
    <a href="{% url 'history' %}">History</a>
    <a href="{% url 'logout' %}">Logout</a>
</nav>

    <h1> Please upload an IMage</h1>
    <form method ="POST" enctype = "multipart/form-data">
    {% csrf_token %} 
    {{ form }}
    <button type = "submit"> Upload </button>
    </form>
    <p>Logged in as {{ request.user.username }} | <a href="{% url 'logout' %}">Logout</a></p>
</body>
</html>

